In [1]:
!pip install sqlite3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('test.db')
 
conn.execute('''
CREATE TABLE campaign_comms_user_level (
campaign_id INTEGER,
user_id INTEGER,
date_sent INTEGER,
opened_email INTEGER,
clicked_on_link INTEGER,
visited_landing_page INTEGER,
converted INTEGER
);''')

In [3]:
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (183946, 68324, 20180705, 1, 1, 0, 0);''')
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (183946, 65715, 20180712, 1, 0, 0, 0);''')
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (421564, 46546, 20180702, 1, 1, 1, 1);''')
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (654654, 86451, 20180801, 0, 0, 0, 0);''')
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (421564, 65158, 20180807, 1, 0, 0, 0);''')
conn.commit()

In [4]:
cursor = conn.execute(''' SELECT * FROM campaign_comms_user_level ''')
for row in cursor:
  print(row)

(183946, 68324, 20180705, 1, 1, 0, 0)
(183946, 65715, 20180712, 1, 0, 0, 0)
(421564, 46546, 20180702, 1, 1, 1, 1)
(654654, 86451, 20180801, 0, 0, 0, 0)
(421564, 68324, 20180807, 1, 0, 0, 0)

In [5]:
cursor = conn.execute('''SELECT 

    campaign_id, 

    COUNT (CASE WHEN campaign_comms_user_level.opened_email=1 THEN 1 END) AS opened_email, 

    COUNT (CASE WHEN  campaign_comms_user_level.clicked_on_link=1 THEN 1 END) AS clicked_on_link, 

    COUNT (CASE WHEN campaign_comms_user_level.visited_landing_page=1 THEN 1 END) AS visited_landing_page,
    
    COUNT (CASE WHEN campaign_comms_user_level.converted=1 THEN 1 END) AS converted 

FROM 

    campaign_comms_user_level 

WHERE 

    campaign_id IS NOT NULL 

GROUP BY 

    campaign_id;''')

In [6]:
for row in cursor:
  print(row)

(183946, 2, 1, 0, 0)
(421564, 2, 1, 1, 1)
(654654, 0, 0, 0, 0)

In [7]:
cursor = conn.execute('''SELECT 

    campaign_id, 

    1.0*COUNT (CASE WHEN campaign_comms_user_level.opened_email THEN 1 END)/ COUNT (CASE WHEN campaign_comms_user_level.date_sent THEN 1 ELSE 1 END) AS p_opened_email, 

    1.0*COUNT (CASE WHEN  campaign_comms_user_level.clicked_on_link THEN 1 END)/ COUNT (CASE WHEN campaign_comms_user_level.opened_email THEN 1 ELSE 1 END) AS p_clicked_on_link, 

    1.0*COUNT (CASE WHEN campaign_comms_user_level.visited_landing_page THEN 1  END)/ COUNT (CASE WHEN campaign_comms_user_level.clicked_on_link THEN 1 ELSE 1 END) AS p_visited_landing_page,
    
    1.0*COUNT (CASE WHEN campaign_comms_user_level.converted THEN 1 END)/ COUNT (CASE WHEN campaign_comms_user_level.visited_landing_page THEN 1 ELSE 1 END) AS p_converted 

FROM 

    campaign_comms_user_level 

WHERE 

    campaign_id IS NOT NULL 

GROUP BY 

    campaign_id;''')

In [8]:
for row in cursor:
  print(row)

(183946, 1.0, 0.5, 0.0, 0.0)
(421564, 1.0, 0.5, 0.5, 0.5)
(654654, 0.0, 0.0, 0.0, 0.0)

In [9]:
cursor = conn.execute('''SELECT
	campaign_id,
    1.0*COUNT (CASE WHEN campaign_comms_user_level.opened_email THEN 1 END)/ COUNT (CASE WHEN campaign_comms_user_level.date_sent THEN 1 ELSE 1 END) AS p_opened_sent_email 
FROM 

    campaign_comms_user_level 

WHERE 

    campaign_id IS NOT NULL 

GROUP BY 

    campaign_id
ORDER BY p_opened_sent_email DESC
LIMIT 1;''')
for row in cursor:
  print(row)

(421564, 1.0)

In [10]:
cursor = conn.execute('''SELECT
	campaign_id,
    1.0*COUNT (CASE WHEN campaign_comms_user_level.converted THEN 1 END)/ COUNT (CASE WHEN campaign_comms_user_level.opened_email THEN 1 ELSE 1 END) AS p_converted_opened_email 
FROM 

    campaign_comms_user_level 

WHERE 

    campaign_id IS NOT NULL 

GROUP BY 

    campaign_id
ORDER BY p_converted_opened_email DESC
LIMIT 1;''')
for row in cursor:
  print(row)

(421564, 0.5)

In [ ]:
cursor = conn.execute('''SELECT
	campaign_id,
    1.0*COUNT (CASE WHEN campaign_comms_user_level.converted THEN 1 END)/ COUNT (CASE WHEN campaign_comms_user_level.opened_email THEN 1 ELSE 1 END) AS p_converted_opened_email 
FROM 

    campaign_comms_user_level 

WHERE 

    campaign_id IS NOT NULL 

GROUP BY 

    campaign_id
ORDER BY p_converted_opened_email DESC
LIMIT 1;''')
for row in cursor:
  print(row)

In [ ]:
cursor = conn.execute('''SELECT
	campaign_id,
    1.0*COUNT (CASE WHEN campaign_comms_user_level.converted THEN 1 END)/ COUNT (CASE WHEN campaign_comms_user_level.opened_email THEN 1 ELSE 1 END) AS p_converted_opened_email 
FROM 

    campaign_comms_user_level 

WHERE 

    campaign_id IS NOT NULL 

GROUP BY 

    campaign_id
ORDER BY p_converted_opened_email DESC
LIMIT 1;''')
for row in cursor:
  print(row)

In [ ]:
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (421564, 65150, 20180807, 1, 0, 0, 1);''')
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (421564, 65150, 20180807, 1, 0, 0, 1);''')
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (421564, 65150, 20180807, 1, 0, 0, 1);''')
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (421564, 65150, 20180807, 1, 0, 0, 1);''')
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (421564, 65150, 20180807, 1, 0, 0, 1);''')
conn.commit()

In [ ]:
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (421564, 6515, 20180807, 1, 0, 0, 0);''')
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (421564, 6515, 20180807, 1, 0, 0, 0);''')
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (421564, 6515, 20180807, 1, 0, 0, 0);''')
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (421564, 6515, 20180807, 1, 0, 0, 0);''')
conn.execute('''INSERT INTO campaign_comms_user_level VALUES (421564, 6515, 20180807, 1, 0, 0, 0);''')
conn.commit()

In [ ]:
#b. Find the most successful campaign in terms of
# i) proportion of opened (among sent) emails
SELECT
	campaign_id,
    1.0*COUNT (CASE WHEN campaign_comms_user_level.opened_email THEN 1 END)/ COUNT (CASE WHEN campaign_comms_user_level.date_sent THEN 1 ELSE 1 END) AS p_opened_sent_email 
FROM 

    campaign_comms_user_level 

WHERE 

    campaign_id IS NOT NULL 

GROUP BY 

    campaign_id
ORDER BY p_opened_sent_email DESC
LIMIT 1;

In [ ]:
#b. Find the most successful campaign in terms of
# ii) proportion of conversions among emails opened.
SELECT
	campaign_id,
    1.0*COUNT (CASE WHEN campaign_comms_user_level.converted THEN 1 END)/ COUNT (CASE WHEN campaign_comms_user_level.opened_email THEN 1 ELSE 1 END) AS p_converted_opened_email 
FROM 

    campaign_comms_user_level 

WHERE 

    campaign_id IS NOT NULL 

GROUP BY 

    campaign_id
ORDER BY p_converted_opened_email DESC
LIMIT 1;

c. Find all users who were contacted with at least 5 campaigns and
i) converted in more than 75% of cases
ii) never converted.

In [ ]:
# Find all users who were contacted with at least 5 campaigns i) converted in more than 75% of cases

SELECT
	user_id
FROM 

    campaign_comms_user_level 
GROUP BY

	user_id
HAVING	
	COUNT(DISTINCT(campaign_id))>=5 AND (COUNT(converted)/COUNT(*))>0.75;

In [ ]:
# Find all users who were contacted with at least 5 campaigns and ii) never converted.

SELECT
	user_id
FROM 

    campaign_comms_user_level 
GROUP BY

	user_id
HAVING	
	COUNT(DISTINCT(campaign_id))>=5 AND SUM(converted)=0;